*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(167, 150, 150);
    color:aliceblue;
}


header{
    background-color: rgb(37, 37, 37) ;
}

nav{
    display: flex;
    justify-content: space-around;
    padding: 1rem;

}

nav >a{
    color: aliceblue;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

